/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body {
    background: #e5e5e5;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h2 {
    font-size: 50px;
    padding-top: 50px;
}

h2:after, h1:after {
    content: ".";
    color: #DFC035;
}

/* HEADER */

header {
    background: black;
}

.banner {
    padding-top: 60.72px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    max-width: 100%;
    height: 597px;
    color: white;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
}

.banner-txt {
    height: 406px;
    max-width: 567px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-title {
    font-size: 96px;
    padding-bottom: 50px;
}

.banner p {
    font-size: 20px;
    padding-bottom: 15px;
}

.banner-btn {
    padding-bottom: 30px;
}

.myButton {
	background-color:transparent;
	border-radius:5px;
	border:2px solid #DFC035;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding: 15px 30.5px;
	text-decoration:none;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.banner-img img{
    max-width: 488px;
    max-height: 356px;
}

@media screen and (max-width: 768px){

    .banner {
        padding: 60.72px 15px 0;
        flex-direction: column;
        height: 100%;
    }

    .banner-txt {
        height: 300px;
        align-items: center;
    }

    .banner-title {
        font-size: 50px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .banner p {
        font-size: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    
    .banner-btn {
        padding-bottom: 10px;
    }

    .banner-img img {
        max-width: 80%;
        padding-bottom: 50px;
        padding-top: 25px;
        align-self: center;
        padding: 25px 10% 25px;
    }
}

/* SOBRE */

.sobre h2 {
    max-width: 1170px;
    margin: 0 auto;
}

.significado {
    width: 830px;
    height: 150px;
    background-color: #DFC035;
    color: white;
    margin: 50px auto 0;
}

.significado h3 {
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding: 20px 0 20px 50px;
}

.significado p {
    font-size: 20px;
    text-align: center;
    padding: 0 50px;
}

.descricao {
    font-size: 20px;
    text-align: center;
    padding: 30px 0 50px;
    width: 830px;
    margin: 0 auto;
}

.dan {
    height: 350px;
}

.dan-img {
    text-align: right;
    background-color: #DFC035;
    height: 350px;
    position: relative;
    right: 55%;
}

.dan-txt {
    width: 350px;
    position: relative;
    left: 55%;
    bottom: 290px;
}

.dan-txt h3 {
    font-size: 30px;
    padding-bottom: 12px;
}

.dan-txt p {
    font-size: 15px;
    padding-bottom: 24px;
    line-height: 1.5;
}

.luiz {
    height: 350px;
}

.luiz-img {
    background-color: #DFC035;
    height: 350px;
    position: relative;
    left: 55%;
    width: 45%;
}

.luiz-txt {
    width: 350px;
    position: relative;
    left: 22%;
    bottom: 290px;
}

.luiz-txt h3 {
    font-size: 30px;
    padding-bottom: 12px;
}

.luiz-txt p {
    font-size: 15px;
    padding-bottom: 24px;
    line-height: 1.5;
}

@media screen and (max-width: 768px){
    .sobre {
        padding: 0 15px;
    }

    .titulo {
        text-align: center;
    }

    .significado {
        width: 100%;
    }

    .significado h3{
        font-size: 20px;
        padding: 12px 25px;
    }

    .significado p {
        font-size: 15px;
        padding: 0 25px;
    }

    .descricao {
        width: 100%;;
        font-size: 15px;
        padding: 15px 0 25px;
    }

    .dan {
        height: 100%
    }

    .dan-img {
        text-align: center;
        background-color: #e5e5e5;
        height: 350px;
        width: 100%;
        position: static;
    }
    
    .dan-txt {
        width: 100%;
        position: static;
        text-align: center;
    }
    
    .dan-txt h3 {
        font-size: 20px;
        padding-bottom: 12px;
        padding-top: 12px;
    }
    
    .dan-txt p {
        font-size: 15px;
        padding-bottom: 12px;
        line-height: 1.5;
    }

    .luiz {
        height: 100%;
    }

    .luiz-img {
        text-align: center;
        background-color: #e5e5e5;
        height: 350px;
        width: 100%;
        position: static;
    }
    
    .luiz-txt {
        width: 100%;
        position: static;
        text-align: center;
    }
    
    .luiz-txt h3 {
        font-size: 20px;
        padding-bottom: 12px;
        padding-top: 12px;
    }
    
    .luiz-txt p {
        font-size: 15px;
        padding-bottom: 12px;
        line-height: 1.5;
    }
}

/* Serviços */

.servicos h2 {
    max-width: 1170px;
    margin: 0 auto;
}

.servicos h3{
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.servicos p{
    text-align: center;
    font-size: 15px;
    padding-bottom: 30px;
    line-height: 1.5;
}

.btn {
    padding-left: 25%;
}

.servicos-myButton {
	background-color:transparent;
	border-radius:5px;
	border:3px solid #DFC035;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:20px;
	padding: 15px 30.5px;
	text-decoration:none;
    text-align: center;
}
.servicos-myButton:hover {
	background-color:transparent;
}
.servicos-myButton:active {
	position:relative;
	top:1px;
}

.website {
    margin-top: 50px;
}

.website, .dashboard {
    height: 440px;
}

.website-img img {
    width: 461px;
    height: 440px;
}

.website-img{
    text-align: right;
    position: relative;
    right: 55%;
    background-color: #DFC035;
    height: 440px;
}

.website-txt, .dashboard-txt{
    width: 537px;
}

.website-txt {
    position: relative;
    left: 55%;
    bottom: 350px;
}

.dashboard-img img {
    height: 440px;
    width: 537px;
}

.dashboard-img {
    background-color: #DFC035;
    height: 440px;
    position: relative;
    left: 55%;
    width: 45%;
}

.dashboard-txt {
    position: relative;
    left: 10%;
    bottom: 400px;
}

@media screen and (max-width: 768px){
    .servicos {
        padding: 0 15px;
    }

    .btn {
        padding: 0 0 30px;
    }

    .servicos h3 {
        padding: 20px 0;
    }
    .website-img, .dashboard-img, .website-txt, .dashboard-txt{
        position: static;
        text-align: center;
        display: block;
        width: 100%;
    }

    .website, .dashboard {
        height: 100%;
    }

    .website-img, .dashboard-img{
        height:350px;
    }

    .website-img img, .dashboard-img img{
        width: 100%;
        height:350px;
    }


}





